.DS_Store
.gradle/
.gradle-local/
.kotlin/
.idea/
.lapis/
.vscode/
*.iml
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/
**/bin/
build/
dist/
node_modules/
out/
*.class
*.log
